.education_component{
    margin-top: 3vh;
    background-color: rgb(30, 30, 30);
    color: white;
    padding-left: 6vw;
    height: auto;
}
.education_div{
    width: 93%;
    margin-bottom: 1vh;
}
/* This div previously has card bootstrap css which I remove card from HTML and write border and border-radius */
.each_education_div{ 
    transition: transform 0.3s;
    margin-bottom: 2vw;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 3px solid white;
}
.each_education_div:hover{
    transform: scale(1.06);
    cursor: zoom-in;
}
/* This div previously has card-header bootstrap css which I remove card from HTML and write border and border-radius */
.each_education_header{
    border-bottom: 0.01rem solid white;
    background-color: yellow;
    color: black;
}
.each_education_header_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
}
.each_education_department{
    background-color: yellow;
    margin-top: -14px;
}
.each_education_result{
    background-color: yellow;
    margin-top: -14px;
}
.each_education_body{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(30, 30, 30);
}
.each_education_each_description_listitem{
    color: white;
}
.each_education_each_description_listitem::marker{
    color: yellow;
}

@media (max-width: 540px){
    .each_education_div{
        margin-bottom: 5vw;
    }
    .each_education_div:hover{
        margin-top: 5vh;
        cursor: zoom-in;
    }
    .each_education_header_flex{
        flex-direction: column;
        align-items: start;
    }
    .each_education_result{
        margin-top: -10px;
    }
    .each_education_timeline{
        margin-top: -15px;  
    }
}