.project_component{
    background-color: rgb(30, 30, 30);
    color: white;
    padding-left: 6vw;
    height: auto;
}
.projectdetail_div{
    padding-left: 3vw;
    margin-top: 4vh;
}
.each_project_grid_item_header{
    color: black;
    background-color: yellow;

}
.project{
    transition: transform 0.3s;
    margin-right: 7vw;
    /* background-color: red; */
    border-radius: 1rem;
    border: 3px solid white;
    color: black;
    overflow: hidden;
}
.project:hover {
    transform: scale(1.06);
    cursor: zoom-in;
}
.each_project_name{
    background-color: yellow;
    font-weight: 700;
}
.each_project_grid_item_project_technology{
    background-color: yellow;
    margin-top: -4%;
}
.each_project_grid_item_project_link{
    background-color: yellow;
    margin-top: -3%;
}
.each_project_grid_item_body{
    background-color: rgb(30, 30, 30);
}
.each_project_grid_item_each_projectDescription_listitem{
    color: white;
}
.each_project_grid_item_each_projectDescription_listitem::marker{
    color: yellow;
}

@media (max-width: 992px){
    .each_project_grid_item_project_technology{
        margin-top: -3%;
    }
    .each_project_grid_item_project_link{
        margin-top: -3%;
    }
}